body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.first-section{
    height: 400px;
    background-color: #1f2937;
    color: #f9faf8;
}

button{
    color: #f9faf8 ;
    background-color: #3882f6;
}

a{
    text-decoration: none;
    color: #E5E7EB
}

.header-first{
    display: flex;
    margin-left: 200px;
    justify-content: space-between;

}

.header-links{
    margin-right: 180px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}